.formBK{
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;  
    width: 10rem;
    height: 10rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}