.formBK{
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;  
    width: 20rem;
    height: 15rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img{
    width: 140px;
    height: 75px;
}
.dateH2{
    color:  #3e5836;
    font-size: 1rem;
}